anyio==4.15.1
asgiref==3.12.1
attrs==26.1.0
autobahn==26.7.1
Automat==25.4.16
cbor2==6.1.4
cffi==2.1.1
channels==4.1.0
channels-redis==4.2.0
constantly==23.10.4
cryptography==50.0.1
daphne==4.1.2
Django==4.2.16
django-cors-headers==4.4.0
django-environ==0.14.0
djangorestframework==3.15.2
djangorestframework_simplejwt==5.5.1
gunicorn==26.2.0
hyperlink==21.0.0
idna==3.20
Incremental==24.11.0
msgpack==1.2.2
packaging==26.3
psycopg2-binary==2.9.13
pycparser==3.0
pycrdt==0.9.18
PyJWT==2.14.0
pyOpenSSL==26.4.0
python-dotenv==1.0.1
redis==8.1.0
service-identity==26.1.0
sqlparse==0.6.0
Twisted==26.4.0
txaio==26.6.1
typing_extensions==4.16.0
ujson==6.0.0
whitenoise==6.12.0
zope.interface==8.6
